{
    "arrowParens": "always",
    "semi": false,
    "tabWidth": 2,
    "printWidth": 80,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "tailwindFunctions": [
        "clsx",
        "cn",
        "cva"
    ],
    "tailwindStylesheet": "resources/js/styles/index.css"
}